:root {
    --bg-income: #a7c9a9;
    --bg-expense: #c9ada7;
}

* {
    font-family: "Fira Sans", sans-serif;
}
/* BODY */

#my-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px cyan;
    max-width: 60%;
    margin: 5% auto;
}

#main-content {
    width: 100%
}

#actions-section {
    border: solid 1px black;
    display: flex;
    justify-content: center;
}

#balance-history-section {
    border: solid 1px blue;
}

/* NAVBAR */

#navbar-section {
    border: solid 1px blue;
}

.nav-list {
    display: flex;
    padding: 0;
}

.nav-list li {
    list-style-type: none;
    display: block;
    padding: 20px;

}

/* */
.record-cell {
    width: 90%;
}

.record-cell-expense {
    background-color: var(--bg-expense);
}

.record-cell-income {
    background-color: var(--bg-income);
}

.record-cell div {
    display: flex;
}

.record-container {
    display: flex;
}

.record-row p {
    padding: 0 5px;
}

.actions-list {
    padding: 0;
}

.actions-list li {
    list-style-type: none;
    padding: 10px;
}