<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>House Balance</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        {% endblock %}

    </head>
    <body>
    <div id="my-body">
        <section id="main-content">
            <form id="form-new-record" method="POST" action="{{ url_for('records.add_record') }}">
                <fieldset>
                    <label for="from_date">Fecha<input type="date" name="from_date" id="from_date" required></label>
                    <label for="is_expense">Ingreso<input type="checkbox" name="is_expense" id="is_expense" value="False">
                        <span class="slider"></span>
                    </label>
                    <label for="amount">Cantidad<input type="number" step="0.01" min="0" name="amount" id="amount" required></label>

                </fieldset>
                <fieldset>
                    <label for="reporter">Realizado por</label>
                    <select id="reporter" name="reporter" required>
                        {% for reporter in allowed_reporters%}
                        <option value="{{ reporter }}">{{ reporter }}</option>
                        {% endfor %}
                    </select>
                    <label for="tag">Asunto<input type="text" name="tag" id="tag" required></label>
                    <label for="description">Descripción<input type="text" name="description" id="description"></label>
                </fieldset>

                <button type="submit">Aceptar</button>
            </form>
        </section>
    </div>

    </body>
</html>