{% extends "layout.html" %}
{% block content %}
    <section id="graphics-section">
        {% for month in graphics %}
        <div class="graphics-month-section">
            <div class="month-details">
                <p class="graphics-month-title">{{month}}</p>
                <p class="graphics-saves">Ahorro mensual:
                    <span class="month-saves">{{ savings[month][0] }} €</span>
                    <span class="month-saves-pctg">{{ savings[month][1] + '%' if (savings[month][1] | int) > 0 else '-' }}</span>
                </p>
            </div>
            <div class="graphics">
                <img class="graph graph-totals"src="data::image/png;base64,{{ graphics[month][0] }}">
                <img class="graph graph-tags"src="data::image/png;base64,{{ graphics[month][1] }}">
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}