{% extends "layout.html" %}
{% block content %}
    <section id="graphics-section">
        {% for month in graphics %}
        <div class="graphics-month-section">
            <h3 class="graphics-month-title">{{month}}</h3>
            <div class="graphics">
                <img class="graph graph-totals"src="data::image/png;base64,{{ graphics[month][0] }}">
                <img class="graph graph-tags"src="data::image/png;base64,{{ graphics[month][1] }}">
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}