{% extends "layout.html" %}
{% block content %}
<section id="actions-section">
    <div>
        <a href="{{ url_for('records.add_record') }}">Nuevo registro</a>
    </div>
</section>
<section id="balance-history-section">
    {% for record in records_list %}
        <div class="record-container">
            <div class="record-cell {{ 'record-cell-expense' if record.is_expense else 'record-cell-income' }}">
                <div class="record-row">
                    <p>{{ record.date }}</p>
                    <p>{{ record.amount }}</p>
                    <p>{{ record.tag }}</p>
                </div>
                <div class="record-row">
                    <p>{{ record.reporter }}</p>
                    <p>{{ record.description }}</p>
                </div>
            </div>
            <div class="record-actions">
                <ul class="actions-list">
                    <li><a href="{{ url_for('records.remove_record', record_id=record.id) }}">Eliminar</a></li>
                </ul>
            </div>
        </div>

    {% endfor %}
</section>

{% endblock %}