{% extends "layout.html" %}
{% block content %}
<section id="actions-section">
    <a href="{{ url_for('records.add_record') }}"><button id="new-record">Nuevo registro</button></a>
</section>
<section id="balance-history-section">
    {% for record in records_list %}
        <div class="record-container {{ 'record-cell-expense' if record.is_expense else 'record-cell-income' }}">
            <div class="record-cell">
                <div class="record-row">
                    <p>{{ date_convert(record.date) }}</p>
                    <p>{{ record.amount }}</p>
                    <p>{{ record.tag }}</p>
                </div>
                <div class="record-row">
                    <p>{{ record.reporter }}</p>
                    <p>{{ record.description }}</p>
                </div>
            </div>
            <div class="record-actions">
                <ul class="actions-list">
                    <li>
                        <a href="{{ url_for('records.remove_record', record_id=record.id) }}">
                        <span class="material-symbols-outlined">delete</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    {% endfor %}
</section>

{% endblock %}