{% extends "layout.html" %}
{% block content %}
<section id="actions-section">
    <a href="{{ url_for('records.add_record') }}"><button id="new-record">Nuevo registro</button></a>
</section>
<section id="balance-history-section">
    {% for record in records_list %}
        <div class="record-container">
            <span class="record-color {{ 'record-cell-expense' if record.is_expense else 'record-cell-income' }}"></span>
            <div class="record-cell">
                <div class="record-row-1">
                    <p class="record-info record-info-date">{{ date_convert(record.date) }}</p>
                    <p class="record-info record-info-amount {{ 'text-expense' if record.is_expense else 'text-income' }}">{{ record.amount }} €</p>
                    <p class="record-info record-info-tag"><span class="tag-box">{{ record.tag }}</span></p>
                </div>
                <div class="record-row">
                    <p class="record-info record-info-description">{{ record.description }}</p>
                    <p class="record-info record-info-reporter">{{ record.reporter }}</p>
                </div>
            </div>
            <div class="record-actions">
                <ul class="actions-list">
                    <li>
                        <a href="{{ url_for('records.remove_record', record_id=record.id) }}">
                        <span class="material-symbols-outlined">delete</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    {% endfor %}
</section>

{% endblock %}